<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="accuweather-hourly-list accuhour-litem-{iterator.cycle}">
	<span class="hourly-dt">DateTime: <f:format.date format="d.m.Y - H:i:s">{hourly.dt}</f:format.date></span><br/>	
	<span class="hourly-edt">EpochDateTime: {hourly.edt}</span><br/>
	<span class="hourly-icon">Weather Icon: {hourly.icon}</span><br/>
	<span class="hourly-weather">Icon Phrase: {hourly.weather}</span><br/>
	<span class="hourly-precipitation">Precipitation: {hourly.precipitation}</span><br/>
	<span class="hourly-isdaylight">Iis Day Light: {hourly.isdaylight}</span><br/>

	<span class="hourly-temperaturev">Temperature Value: {hourly.temperaturev}</span><br/>
	<span class="hourly-temperatureu">Temperature Unit: {hourly.temperatureu}</span><br/>
	<span class="hourly-rftemperaturev">Real Feel Temperature Value: {hourly.rftemperaturev}</span><br/>
	<span class="hourly-rftemperatureu">Real Feel Temperature Unit: {hourly.rftemperatureu}</span><br/>
	<span class="hourly-wbtemperaturev">Wet Bulb Temperature Value: {hourly.wbtemperaturev}</span><br/>
	<span class="hourly-wbtemperatureu">Wet Bulb Temperature Unit: {hourly.wbtemperatureu}</span><br/>

	<span class="hourly-dewpointv">Dew Point Value: {hourly.dewpointv}</span><br/>
	<span class="hourly-dewpointu">Dew Point Unit: {hourly.dewpointu}</span><br/>

	<span class="hourly-windsv">Wind Speed Value: {hourly.windsv}</span><br/>
	<span class="hourly-windsu">Wind Speed Unit: {hourly.windsu}</span><br/>
	<span class="hourly-winddd">Wind Direction Degrees: {hourly.winddd}</span><br/>
	<span class="hourly-winddue">Wind Direction: {hourly.winddue}</span><br/>
	<span class="hourly-windgsv">Wind Gust Speed Value: {hourly.windgsv}</span><br/>
	<span class="hourly-windgsd">Wind Gust Speed Unit: {hourly.windgsd}</span><br/>

	<span class="hourly-rhumidity">Relative Humidity: {hourly.rhumidity}</span><br/>
	<span class="hourly-irhumidity">Indoor Relative Humidity: {hourly.irhumidity}</span><br/>
	<span class="hourly-visibilityv">Visibility Value: {hourly.visibilityv}</span><br/>
	<span class="hourly-visibilityu">Visibility Unit: {hourly.visibilityu}</span><br/>
	<span class="hourly-ceilingv">Ceiling Value: {hourly.ceilingv}</span><br/>
	<span class="hourly-ceilingu">Ceiling Unit: {hourly.ceilingu}</span><br/>

	<span class="hourly-uvindex">UV Index: {hourly.uvindex}</span><br/>
	<span class="hourly-uvitext">UV Index Text: {hourly.uvitext}</span><br/>
	<span class="hourly-pprobability">Precipitation Probability: {hourly.pprobability}</span><br/>
	<span class="hourly-rprobability">Rain Probability: {hourly.rprobability}</span><br/>
	<span class="hourly-sprobability">Snow Probability: {hourly.sprobability}</span><br/>
	<span class="hourly-iprobability">Ice Probability: {hourly.iprobability}</span><br/>

	<span class="hourly-tliquidv">Total Liquid Value: {hourly.tliquidv}</span><br/>
	<span class="hourly-tliquidu">Total Liquid Unit: {hourly.tliquidu}</span><br/>
	<span class="hourly-rainv">Rain Value: {hourly.rainv}</span><br/>
	<span class="hourly-rainu">Rain Unit: {hourly.rainu}</span><br/>
	<span class="hourly-snowv">Snow Value: {hourly.snowv}</span><br/>
	<span class="hourly-snowu">Snow Unit: {hourly.snowu}</span><br/>
	<span class="hourly-icev">Ice Value: {hourly.icev}</span><br/>
	<span class="hourly-iceu">Ice Unit: {hourly.iceu}</span><br/>

	<span class="hourly-ccover">Cloud Cover: {hourly.ccover}</span><br/>
	<span class="hourly-mlink">Mobile Link: {hourly.mlink}</span><br/>
	<span class="hourly-link">Web Link: {hourly.link}</span><br/>
	<hr/>
</div>